// MAIN STYLESHEET FOR DOTFILES.JOSHDMILLER.COM
// -------------------------------------------

// BOOTSTRAP INCLUSIONS
// --------------------

@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/reset.less";
@import "bootstrap/type.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/utilities.less";

// BASICS
// ------

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: @baseFontFamily;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
    color: @textColor;
    background-color: @bodyBackground;
    text-align: justify;
}

// Links
// -----

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

// GRID LAYOUT
// -----------

// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);


// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}


// NAVBAR
// ------

.navbar {
    .brand {
        text-decoration: none;
        color: @grayLight;
    }

    .brand:hover, .brand:active {
        color: @white;
    }
    
    .box-shadow(0 3px 10px rgba(0, 0, 0, .5));
}

// MENU
// ----

#menu {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: @navbarHeight;
    bottom: 0;
    width: 300px;
    left: 0px;
    padding: 10px;

    background: @grayLighter;

    z-index: 100;
}

// BODY
// ----

#body {
    position: fixed;
    overflow: auto;
    top: @navbarHeight;
    bottom: 0;
    right: 0;
    left: 320px;

    z-index: 500;

    //.box-shadow(5px 5px 5px rgba(0, 0, 0, .2) inset);
    border-left: 1px solid @grayLight;
    background: @white;
    padding: 0;

    // Style for h3 when doc not found.
    .error {
        margin: 20px;
        color: @red;
    }
    
    // LOADING OVERLAY
    .loadingOverlay {
        width:100%; 
        height:100%; 
        margin:0; 
        padding:0;
        background:#fff url('http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojox/image/resources/images/loading.gif') no-repeat center center;
        position:absolute;
        z-index:999;
        position: absolute;
    }

    .noncode {
        margin: 25px;

        p, h1, h2, h3, h4, h5, h6 {
            padding-top: 10px;
        }

        h1:first-child {
            padding-top: 0;
        }

        pre {
            padding: 10px;
            margin: 10px 20px;
            background: #f8f8ff;
            border: 1px solid @grayLighter;
        }
    }

    .noncode, #container {
        // Basic styles for elements of the code docs.
        p {
            margin: 0 0 15px 0;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0px 0 15px 0;
        }
        h1 {
            margin-top: 10px;
        }
        
        pre, tt, code {
            font-size: 13px; line-height: 18px;
            font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
            margin: 0; padding: 0;
        }

        p tt, p code {
            background: #f8f8ff;
            border: 1px solid @grayLighter;
            font-size: 12px;
            padding: 0 0.2em;
        }
            
    }

    #background {
      position: fixed;
      top: 0; left: 860px; right: 0; bottom: 0;
      background: #f5f5ff;
      border-left: 1px solid #e5e5ee;
      z-index: -1;
    }

    #container { 
        position: relative;
        
        div.section {
            position: relative;
        }

        div.docs {
            float: left;
            max-width: 500px;
            min-width: 500px;
            min-height: 5px;
            padding: 10px 25px 1px 20px;
            vertical-align: top;
            text-align: left;
        }
          
        .docs pre {
            margin: 15px 0 15px;
            padding-left: 15px;
        }
        
        .docs p tt, .docs p code {
            background: #f8f8ff;
            border: 1px solid #dedede;
            font-size: 12px;
            padding: 0 0.2em;
        }
      
        .octowrap {
            position: relative;
        }
            
        .octothorpe {
          font: 12px Arial;
          text-decoration: none;
          color: #454545;
          position: absolute;
          top: 3px; left: -20px;
          padding: 1px 2px;
          opacity: 0;
          -webkit-transition: opacity 0.2s linear;
        }
              
        div.docs:hover .octothorpe {
            opacity: 1;
        }
        
        div.code {
          margin-left: 540px;
          padding: 10px 15px 16px 20px;
          vertical-align: top;
        }
          
        .code pre, .docs p code {
            font-size: 12px;
        }
            
        div.clearall {
            clear: both;
        }       

        /*---------------------- Syntax Highlighting -----------------------------*/
        .hll { background-color: #ffffcc }
        .c { color: #408080; font-style: italic }  /* Comment */
        .err { border: 1px solid #FF0000 }         /* Error */
        .k { color: #954121 }                      /* Keyword */
        .o { color: #666666 }                      /* Operator */
        .cm { color: #408080; font-style: italic } /* Comment.Multiline */
        .cp { color: #BC7A00 }                     /* Comment.Preproc */
        .c1 { color: #408080; font-style: italic } /* Comment.Single */
        .cs { color: #408080; font-style: italic } /* Comment.Special */
        .gd { color: #A00000 }                     /* Generic.Deleted */
        .ge { font-style: italic }                 /* Generic.Emph */
        .gr { color: #FF0000 }                     /* Generic.Error */
        .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
        .gi { color: #00A000 }                     /* Generic.Inserted */
        .go { color: #808080 }                     /* Generic.Output */
        .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
        .gs { font-weight: bold }                  /* Generic.Strong */
        .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
        .gt { color: #0040D0 }                     /* Generic.Traceback */
        .kc { color: #954121 }                     /* Keyword.Constant */
        .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
        .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
        .kp { color: #954121 }                     /* Keyword.Pseudo */
        .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
        .kt { color: #B00040 }                     /* Keyword.Type */
        .m { color: #666666 }                      /* Literal.Number */
        .s { color: #219161 }                      /* Literal.String */
        .na { color: #7D9029 }                     /* Name.Attribute */
        .nb { color: #954121 }                     /* Name.Builtin */
        .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
        .no { color: #880000 }                     /* Name.Constant */
        .nd { color: #AA22FF }                     /* Name.Decorator */
        .ni { color: #999999; font-weight: bold }  /* Name.Entity */
        .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
        .nf { color: #0000FF }                     /* Name.Function */
        .nl { color: #A0A000 }                     /* Name.Label */
        .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
        .nt { color: #954121; font-weight: bold }  /* Name.Tag */
        .nv { color: #19469D }                     /* Name.Variable */
        .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
        .w { color: #bbbbbb }                      /* Text.Whitespace */
        .mf { color: #666666 }                     /* Literal.Number.Float */
        .mh { color: #666666 }                     /* Literal.Number.Hex */
        .mi { color: #666666 }                     /* Literal.Number.Integer */
        .mo { color: #666666 }                     /* Literal.Number.Oct */
        .sb { color: #219161 }                     /* Literal.String.Backtick */
        .sc { color: #219161 }                     /* Literal.String.Char */
        .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
        .s2 { color: #219161 }                     /* Literal.String.Double */
        .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
        .sh { color: #219161 }                     /* Literal.String.Heredoc */
        .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
        .sx { color: #954121 }                     /* Literal.String.Other */
        .sr { color: #BB6688 }                     /* Literal.String.Regex */
        .s1 { color: #219161 }                     /* Literal.String.Single */
        .ss { color: #19469D }                     /* Literal.String.Symbol */
        .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
        .vc { color: #19469D }                     /* Name.Variable.Class */
        .vg { color: #19469D }                     /* Name.Variable.Global */
        .vi { color: #19469D }                     /* Name.Variable.Instance */
        .il { color: #666666 }                     /* Literal.Number.Integer.Long */
    }
}

